[submodule "snickerdoodle_src/rev-d-shim-snickerdoodle-dts"]
	path = snickerdoodle_src/rev-d-shim-snickerdoodle-dts
	url = https://github.com/LincolnCB/rev-d-shim-snickerdoodle-dts.git
[submodule "snickerdoodle_src/rev-d-shim-snickerdoodle-u-boot"]
	path = snickerdoodle_src/rev-d-shim-snickerdoodle-u-boot
	url = https://github.com/LincolnCB/rev-d-shim-snickerdoodle-u-boot.git
[submodule "snickerdoodle_src/rev-d-shim-snickerdoodle-linux"]
	path = snickerdoodle_src/rev-d-shim-snickerdoodle-linux
	url = https://github.com/LincolnCB/rev-d-shim-snickerdoodle-linux.git
