####################################################
##                                                ##
## !!!!! COPY THIS FILE TO make_defaults.mk !!!!! ##
##                                                ##
####################################################

#############################################
## Variables
#############################################
## Required environment variable inputs to the Makefile
#############################################

# These are the default values for PROJECT, BOARD, and BOARD_VER for the project and board you want to build
# These can be set on the command line:
# - e.g. 'make PROJECT=ex02_axi_interface BOARD=snickerdoodle_black BOARD_VER=1.0'

# Default values for PROJECT and BOARD
PROJECT ?= rev_d_shim
BOARD ?= snickerdoodle_black
BOARD_VER ?= 1.0
OFFLINE ?= false
MOUNT_DIR ?= # empty by default, set to the mount point of the SD card if needed

#############################################
