/include/ "system-conf.dtsi"
/ {
};

&amba_pl {
  hw_manager_irq: hw_manager_irq {
    compatible = "generic-uio";
    interrupt-parent = <&intc>;
    interrupts = <0 29 1>;
  };
  fifo_unavail_irq: fifo_unavail_irq {
    compatible = "generic-uio";
    interrupt-parent = <&intc>;
    interrupts = <0 30 1>;
  };
};
